<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <div class="card p-4 text-[#008000] rounded-lg shadow-md flex flex-col items-center justify-center">
    <h3 class="text-xl font-bold">Nombre total des utilisateurs</h3>
    <p class="text-2xl font-semibold">
      <span>100</span>
    </p>
  </div>
  <div class="card p-4 text-[#008000] rounded-lg shadow-md flex flex-col items-center justify-center">
    <h3 class="text-xl font-bold">Nombre total Formateur</h3>
    <p class="text-2xl font-semibold">
      <span>100</span>
    </p>
  </div>
  <div class="card p-4 text-[#008000] rounded-lg shadow-md flex flex-col items-center justify-center">
    <h3 class="text-xl font-bold">Nombre total superviseur</h3>
    <p class="text-2xl font-semibold">
      <span>100</span>
    </p>
  </div>
  <div class="card p-4 text-[#008000] rounded-lg shadow-md flex flex-col items-center justify-center">
    <h3 class="text-xl font-bold">Nombre apprenant</h3>
    <p class="text-2xl font-semibold">
      <span>100</span>
    </p>
  </div>
</div>


<div class="flex justify-between items-center mt-5">
  <div class="mr-5">
    <div class="w-full max-w-sm min-w-[200px] relative">
      <div class="relative">
        <input
          class="bg-white w-full pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
          placeholder="Search..." />
        <button class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white rounded " type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
            class="w-8 h-8 text-slate-600">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Bouton Imprimer la liste -->
  <button
    class="py-2.5 px-4 bg-[#114C5A] text-sm font-medium text-white rounded-lg border border-[#EF7743] hover:bg-[#EF7743] hover:text-[#114C5A] focus:outline-none focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    Imprimer
    <!-- <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M17 2C17.5523 2 18 2.44772 18 3V7H21C21.5523 7 22 7.44772 22 8V18C22 18.5523 21.5523 19 21 19H18V21C18 21.5523 17.5523 22 17 22H7C6.44772 22 6 21.5523 6 21V19H3C2.44772 19 2 18.5523 2 18V8C2 7.44772 2.44772 7 3 7H6V3C6 2.44772 6.44772 2 7 2H17ZM16 17H8V20H16V17ZM20 9H4V17H6V16C6 15.4477 6.44772 15 7 15H17C17.5523 15 18 15.4477 18 16V17H20V9ZM8 10V12H5V10H8ZM16 4H8V7H16V4Z"></path></svg> -->
  </button>

  <!-- Bouton pour ajouter un utilisateur -->
  <button (click)="openModalAjout()"
    class="py-2.5 px-4 bg-[#114C5A] text-sm font-medium text-white rounded-lg border border-[#EF7743] hover:bg-[#EF7743] hover:text-[#114C5A] focus:outline-none focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    +ajouter
  </button>
</div>



<div
  class="relative mt-10 ml-5 flex flex-col h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
  <table id="listToConvert" class="w-full text-left table-auto min-w-max">
    <thead id="tableHeader">
      <tr>
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-xl font-normal leading-none text-slate-500">
            Numero
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-xl font-normal leading-none text-slate-500">
            Nom
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-xl font-normal leading-none text-slate-500">
            Email
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-xl font-normal leading-none text-slate-500">
            Role
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-xl font-normal leading-none text-slate-500">
            Action
          </p>
        </th>
      </tr>
    </thead>
    <tbody id="listToConvert">
      <!-- <tr> -->
      <tr class="hover:bg-slate-50">
        <!-- *ngFor="let user of userDetails | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let index = index"> -->
        <td class="p-4 border-b border-slate-200 py-5">
          <p class="block  text-sm text-slate-800">1</p>
        </td>
        <td class="p-4 border-b border-slate-200 py-5">
          <p class="block  text-sm text-slate-800">Mamadou</p>
        </td>
        <td class="p-4 border-b border-slate-200 py-5">
          <p class="text-sm text-slate-800">Email</p>
        </td>
        <td class="p-4 border-b border-slate-200 py-5">
          <p class="text-sm">
            Role
          </p>
        </td>
        <td class="p-4 border-b border-slate-200 py-5 flex items-center space-x-2">
          <svg (click)="openModalEdit()" class="w-10 h-10 text-[#DACF0A]" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M16.6256 3.1285L9.29145 10.4626L9.29886 14.7098L13.537 14.7024L20.8682 7.37114C21.5912 8.75438 22 10.3278 22 11.9967C22 17.5196 17.5228 21.9967 12 21.9967C6.47715 21.9967 2 17.5196 2 11.9967C2 6.47386 6.47715 1.9967 12 1.9967C13.6689 1.9967 15.2423 2.40553 16.6256 3.1285ZM20.4853 2.09721L21.8995 3.51142L12.7071 12.7038L11.2954 12.7063L11.2929 11.2896L20.4853 2.09721Z">
            </path>
          </svg>
          <svg class="w-10 h-10 text-[#0000FF]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            fill="currentColor">
            <path
              d="M12 22C6.47715 22 2 17.5228 2 12 2 6.47715 6.47715 2 12 2 17.5228 2 22 6.47715 22 12 22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12 20 7.58172 16.4183 4 12 4 7.58172 4 4 7.58172 4 12 4 16.4183 7.58172 20 12 20ZM13 10.5V15H14V17H10V15H11V12.5H10V10.5H13ZM13.5 8C13.5 8.82843 12.8284 9.5 12 9.5 11.1716 9.5 10.5 8.82843 10.5 8 10.5 7.17157 11.1716 6.5 12 6.5 12.8284 6.5 13.5 7.17157 13.5 8Z">
            </path>
          </svg>
        </td>

      </tr>
    </tbody>
  </table>
  <!-- <div class="mt-5">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div> -->
</div>

<!-- <div *ngIf="isLoading">
  <app-loarder></app-loarder>
</div> -->

<!-- Modal pour ajouter un utilisateur -->
<div *ngIf="display"
  class="py-12  bg-gray-900 bg-opacity-50 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">
        Enter les informations d'un utilisateur
      </h1>
      <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom Complet</label>
        <input type="text" id="name" formControlName="name"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="Entrez votre nom complet" />
        <div *ngIf="inscriptionForm.get('name')?.invalid && inscriptionForm.get('name')?.touched"
          class="text-red-500 text-sm">
          Nom est requis et doit comporter au moins 3 caractères.
        </div>

        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Email</label>
        <input type="email" id="name" formControlName="email"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="exemple@gmail.com" />
        <div *ngIf="inscriptionForm.get('email')?.invalid && inscriptionForm.get('email')?.touched"
          class="text-red-500 text-sm">
          Veuillez entrer un email valide.
        </div>

        <label for="phoneNumber" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Telephone</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="XX XXX XX XX" />
        <div *ngIf="inscriptionForm.get('phoneNumber')?.invalid && inscriptionForm.get('phoneNumber')?.touched"
          class="text-red-500 text-sm">
          Veuillez entrer un numéro de téléphone valide.
        </div>

        <label for="password" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Mot de passe</label>
        <input type="password" id="password" formControlName="password"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="Entrez un mot de passe" />
        <div *ngIf="inscriptionForm.get('password')?.invalid && inscriptionForm.get('password')?.touched"
          class="text-red-500 text-sm">
          Le mot de passe doit comporter au moins 6 caractères.
        </div>

        <label for="password_confirmation" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Confirmez le
          mot de passe</label>
        <input type="password" id="password_confirmation" formControlName="password_confirmation"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="Confirmez votre mot de passe" />
        <div *ngIf="!checkPasswords() && inscriptionForm.get('password_confirmation')?.touched" class="text-red-500 text-sm">
          Les mots de passe ne correspondent pas.
        </div>

        <label for="role" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Role</label>
        <select name="role" id="role" formControlName="role"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          (change)="onRoleChange($event)">
          <option value="apprenant" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Apprenant</option>
          <option value="superviseur" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Superviseur</option>
          <option value="formateur" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Formateur</option>
        </select>

        <!-- Champ Code d'invitation conditionnel -->
        <div *ngIf="isApprenantSelected">
          <label for="code_invitaion" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Code
            d'invitation</label>
          <input type="text" id="code_invitaion" formControlName="code_invitaion"
            class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="Entrez votre code d'invitation" />
          <div *ngIf="inscriptionForm.get('code_invitaion')?.invalid && inscriptionForm.get('code_invitaion')?.touched"
            class="text-red-500 text-sm">
            Le code d'invitation est requis et doit comporter au moins 3 caractères.
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex items-center justify-start w-full">
          <button
            class="bg-[#114C5A] text-white rounded-md hover:bg-[#EF7743] transition duration-150 ease-in-out   px-8 py-2 text-sm">
            Enregistrer
          </button>
          <button (click)="close()"
            class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal pour modifier un utilisateur -->
<div *ngIf="displayEdit"
  class="py-12  bg-gray-900 bg-opacity-50 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">
        Enter les informations d'un utilisateur
      </h1>
      <form action="">
        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom Complet</label>
        <input type="text" id="name"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="" />

        <label for="Email" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Email</label>
        <input type="email" id="email"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="" />

        <label for="phone" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Telephone</label>
        <input type="number" id="phone"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="" />

        <label for="role" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Role</label>
        <select name="role" id="role"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
          <option value="" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Role</option>
        </select>

        <!-- Buttons -->
        <div class="flex items-center justify-start w-full">
          <button
            class="bg-[#114C5A] hover:bg-[#EF7743] rounded text-white px-8 py-2 text-sm">
            Enregistrer
          </button>
          <button
            class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
