<!-- Modal pour ajouter un test -->
<div *ngIf="display" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-start mt-10 z-50">
  <div class="bg-[#114C5A] shadow-md rounded-lg p-6 mb-6 w-full max-w-4xl mx-auto modal-content">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-inter text-white mb-4">Ajouter un Test</h2>
      <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="24"
        height="24" class="cursor-pointer">
        <path
          d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 10.5858L14.8284 7.75736L16.2426 9.17157L13.4142 12L16.2426 14.8284L14.8284 16.2426L12 13.4142L9.17157 16.2426L7.75736 14.8284L10.5858 12L7.75736 9.17157L9.17157 7.75736L12 10.5858Z">
        </path>
      </svg>
    </div>
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
      <!-- Nom du Test -->
      <div class="mb-4">
        <label class="text-gray-200 block font-medium mb-1" for="testName">Type du Test</label>
        <select name="evaluation" id="evaluation" formControlName="type"
          class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-300 focus:outline-none">
          <option *ngFor="let evaluation of evaluations" [value]="evaluation">
            {{ evaluation }}
          </option>
        </select>
      </div>

      <!-- Liste des Questions -->
      <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index" class="mb-6">
        <div [formGroupName]="i" class="border border-gray-500 p-4 rounded-lg bg-white">
          <label class="text-gray-700 block font-medium mb-1">Question {{ i + 1 }}</label>
          <input formControlName="question_text" type="text" placeholder="Texte de la question"
            class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-300 focus:outline-none mb-4" />

          <!-- <label class="text-gray-700 block font-medium mb-1">Note</label>
          <input formControlName="note" type="number" placeholder="Note de la question"
            class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-300 focus:outline-none mb-4" /> -->

          <!-- Choix -->
          <div formArrayName="choices" *ngFor="let choice of getChoices(i).controls; let j = index">
            <div [formGroupName]="j" class="flex items-center gap-4">
              <input formControlName="choice_text" type="text" placeholder="Texte du choix"
                class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-300 focus:outline-none" />
              <label class="text-gray-700 flex items-center gap-2">
                <input formControlName="is_correct" type="checkbox"
                  class="form-checkbox text-blue-600 focus:ring focus:ring-blue-300 rounded" />
                Correct
              </label>
            </div>
          </div>

          <!-- Ajouter un choix -->
          <button type="button" (click)="addChoice(i)"
            class="text-sm bg-[#114C5A] hover:bg-[#EF7743] text-white py-2 px-4 rounded-lg">
            Ajouter un choix
          </button>
        </div>

        <!-- Supprimer une question -->
        <button type="button" (click)="removeQuestion(i)"
          class="text-sm bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg mt-2">
          Supprimer la question
        </button>
      </div>

      <!-- Ajouter une Question -->
      <button type="button" (click)="addQuestion()"
        class="text-sm bg-[#EF7743] hover:bg-[#d49e42] text-white py-2 px-4 rounded-lg mb-4">
        Ajouter une question
      </button>

      <!-- Bouton Enregistrer -->
      <button type="submit" [ngClass]="{
          'bg-gray-400 cursor-not-allowed': testForm.invalid,
          'bg-[#114C5A] hover:bg-[#0d3b47]': !testForm.invalid
        }" [disabled]="testForm.invalid"
        class="bg-[#EF7743] hover:bg-[#d49e42] text-white py-2 px-6 rounded-lg shadow-lg w-full">
        Enregistrer le test
      </button>
    </form>
  </div>
</div>


<!-- Tableau -->
<div class="bg-white shadow rounded p-4 w-full">
  <div class="flex-col flex justify-center items-center">
    <h2 class="text-lg font-bold text-[#2C7C79] mb-4">Liste des parcours</h2>
  <h2 class=" text-lg font-bold text-[#2C7C79] mb-4">Pour ajouter un nouveau test sur un parcours cliquer sur le bouton plus</h2>
  </div>
  <table class="min-w-full table-auto">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Parcours</th>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Type</th>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Prix(fcfa)</th>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Apprenants</th>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Durée</th>
        <th class="px-6 py-3 text-left text-[#2C7C79] font-semibold">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parcour of parcours">
        <td class="px-6 py-3 border-b text-[#2C7C79]">{{ parcour.nom_parcour }}</td>
        <td class="px-6 py-3 border-b" [ngClass]="{
            'bg-green-200': parcour.status_type === 1,
            'bg-red-200': parcour.status_type === 0,
          }"> {{ parcour.status_type === 0 ? 'Gratuit' : 'Premium' }}</td>
        <td class="px-6 py-3 border-b text-[#2C7C79]">{{ parcour.prix }}</td>
        <td class="px-6 py-3 border-b text-[#2C7C79]"> 90</td>
        <td class="px-6 py-3 border-b text-[#2C7C79]">{{parcour.duree}}</td>
        <td class="px-6 py-3 border-b">
          <div class="flex items-center gap-2">
            <svg (click)="openModalAjoutTest(parcour.id)" class="text-[#F9BD4F] cursor-pointer"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
              <path
                d="M11 11V7H13V11H17V13H13V17H11V13H7V11H11ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z">
              </path>
            </svg>
            <svg (click)="openShowTest(parcour.id)" xmlns="http://www.w3.org/2000/svg" class="text-[#F9BD4F]"
              width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M15.9994 2V4H14.9994V7.24291C14.9994 8.40051 15.2506 9.54432 15.7357 10.5954L20.017 19.8714C20.3641 20.6236 20.0358 21.5148 19.2836 21.8619C19.0865 21.9529 18.8721 22 18.655 22H5.34375C4.51532 22 3.84375 21.3284 3.84375 20.5C3.84375 20.2829 3.89085 20.0685 3.98181 19.8714L8.26306 10.5954C8.74816 9.54432 8.99939 8.40051 8.99939 7.24291V4H7.99939V2H15.9994ZM13.3873 10.0012H10.6115C10.5072 10.3644 10.3823 10.7221 10.2371 11.0724L10.079 11.4335L6.12439 20H17.8734L13.9198 11.4335C13.7054 10.9691 13.5276 10.4902 13.3873 10.0012ZM10.9994 7.24291C10.9994 7.49626 10.9898 7.7491 10.9706 8.00087H13.0282C13.0189 7.87982 13.0119 7.75852 13.0072 7.63704L12.9994 7.24291V4H10.9994V7.24291Z">
              </path>
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isLoading">
  <app-loarder></app-loarder>
</div>
