<div class="">
  <!-- <a routerLink="/core/apprenant/form">
    <svg class="text-[#4C4D79] px-1 py-1 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path></svg>
  </a> -->
  <div class="flex justify-center text-xl">Comment
    communiquer avec les autres couleurs</div>
  <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg max-w-full sm:max-w-7xl w-full">
    <div class="flex flex-col md:flex-row gap-10">
      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#0000FF]">Bleu</div>
          <p class="mt-2 text-center">. Soyez précis, factuel, structuré</p>
            <p class="mt-2 text-center">. Préparez vos entretiens</p>
            <p class="mt-2 text-center">. Soutenez une approche réaliste et mesurée</p>
            <p class="mt-2 text-center">. Prenez le temps d'aller dans les détails</p>
            <p class="mt-2 text-center">. Ne le brusquez pas</p>
            <p class="mt-2 text-center">. Ne cherchez pas à réchauffer l'ambiance</p>
            <p class="mt-2 text-center">. Restez distant, ne le touchez pas</p>
            <p class="mt-2 text-center">. Soyez prêt qu'il conteste les faits</p>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FF0000]">Rouge</div>
          <p class="mt-2 text-center">. Soyez concis et affirmé</p>
          <p class="mt-2 text-center">. Allez droit au but</p>
          <p class="mt-2 text-center">. Les questionnaires sur leurs objectifs</p>
          <p class="mt-2 text-center">. Amenez-les à être moteurs et décider</p>
          <p class="mt-2 text-center">. Valorisez leur sens au défi et de la réactivité</p>
          <p class="mt-2 text-center">. Évitez trop les détails</p>
          <p class="mt-2 text-center">. Restez factuel</p>
          <p class="mt-2 text-center">. Préparez-vous à défendre vos arguments</p>
        </div>
      </div>

      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#008000]">Vert</div>
          <p class="mt-2 text-center">. Soyez empathique, relationnel et amical</p>
          <p class="mt-2 text-center">. Créez des relations partenariales et solides</p>
          <p class="mt-2 text-center">. Donnez-vous du temps pour construire la confiance</p>
          <p class="mt-2 text-center">. Accompagnez et aidez-les à décider</p>
          <p class="mt-2 text-center">. Respectez leurs idées</p>
          <p class="mt-2 text-center">. N'ayez pas peur de leurs moments de silence</p>
          <p class="mt-2 text-center">. Ne critiquez pas de tierces personnes</p>
          <p class="mt-2 text-center">. Soyez patients</p>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FFFF00]">Jaune</div>
          <p class="mt-2 text-center">. Montrez-vous relationnel</p>
            <p class="mt-2 text-center">. Soyez créatif et informel</p>
            <p class="mt-2 text-center">. Partagez leur plaisir et laissez-les s'exprimer</p>
            <p class="mt-2 text-center">. Rêvez avec eux</p>
            <p class="mt-2 text-center">. Aidez-les à canaliser leur énergie</p>
            <p class="mt-2 text-center">. Restez dynamique et engageant</p>
            <p class="mt-2 text-center">. Valorisez leur sens de créativité</p>
            <p class="mt-2 text-center">. Soyez prêt à dévier du sujet</p>
        </div>
      </div>
    </div>
  </div>
</div>
