<div class="p-6 mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
    <span>Les parcours</span>
    <form class="max-w-md mx-auto mb-4">
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search" [(ngModel)]="searchTerm" name="searchTerm"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Rechercher un parcours" required />
      </div>
    </form>

    <button type="button" (click)="openModalParcour()" data-modal-target="authentication-modal"
      class="py-2.5 px-1 me-2 mb-1 bg-[#114C5A] text-sm font-medium text-white focus:outline-none rounded-lg border border-[#EF7743] hover:bg-[#EF7743] hover:text-[#114C5A] focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">+
      Créer parcours</button>
  </div>


  <div class="mt-20">
    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md w-full">
      <div class="overflow-x-auto w-full">
        <table class="w-full min-w-[540px]" data-tab-for="order" data-page="active">
          <thead>
            <tr>
              <th
                class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">
                Parcours formation</th>
              <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">
                Audience</th>
              <th
                class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tr-md rounded-br-md">
                Prix(fcfa)</th>
              <th
                class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tr-md rounded-br-md">
                Apprenant</th>
              <th
                class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tr-md rounded-br-md">
                Durée</th>
              <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">
                Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parcour of filteredParcours | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
              <td class="py-2 px-4 border-b border-b-gray-50">{{parcour.nom_parcour}}</td>
              <td class="py-2 px-4 border-b border-b-gray-50">
                <span class="text-[13px] font-medium text-gray-400">Graduit</span>
              </td>
              <td class="py-2 px-4 border-b border-b-gray-50">
                <span
                  class="inline-block p-1 rounded bg-emerald-500/10 text-emerald-500 font-medium text-[12px] leading-none">{{parcour.prix}}</span>
              </td>
              <td class="py-2 px-4 border-b border-b-gray-50">
                <span
                  class="inline-block p-1 rounded bg-emerald-500/10 text-emerald-500 font-medium text-[12px] leading-none">90</span>
              </td>
              <td class="py-2 px-4 border-b border-b-gray-50">
                <span
                  class="inline-block p-1 rounded bg-emerald-500/10 text-emerald-500 font-medium text-[12px] leading-none">{{parcour.duree}}jours</span>
              </td>
              <td class="py-2 px-4 border-b border-b-gray-50">
                <div class="flex items-center space-x-2">
                  <svg (click)="openModalChapitre(parcour.id,parcour.nom_parcour)" class="px-1 py-1 w-10 text-[#F9BD4F]"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11H7V13H11V17H13V13H17V11H13V7H11V11Z">
                    </path>
                  </svg>
                  <svg class="px-1 py-1 w-10 text-[#F9BD4F]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor">
                    <path
                      d="M16.6256 3.1285L9.29145 10.4626L9.29886 14.7098L13.537 14.7024L20.8682 7.37114C21.5912 8.75438 22 10.3278 22 11.9967C22 17.5196 17.5228 21.9967 12 21.9967C6.47715 21.9967 2 17.5196 2 11.9967C2 6.47386 6.47715 1.9967 12 1.9967C13.6689 1.9967 15.2423 2.40553 16.6256 3.1285ZM20.4853 2.09721L21.8995 3.51142L12.7071 12.7038L11.2954 12.7063L11.2929 11.2896L20.4853 2.09721Z">
                    </path>
                  </svg>
                </div>
              </td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <div class="mt-5">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour afficher les chapitres -->
<div *ngIf="displayChapitre" tabindex="-1" aria-hidden="true" id="createParcoursModal"
  class=" fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <div class="flex justify-between p-4">
      <svg class="px-1 py-1 w-10" (click)="closeModalChapitre()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        fill="currentColor">
        <path
          d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z">
        </path>
      </svg>
      <h1>Liste des chapitres</h1>
      <button (click)="toggleAddChapitre()"
        class="bg-[#114C5A] hover:bg-[#F9BD4F] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">ajoutChapitre</button>
    </div>
    <!-- Formulaire pour ajouter un chapitre -->
    <div *ngIf="showAddChapitreForm" class="mt-4">
      <form [formGroup]="formDataChap" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4 flex gap-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nomChapitre">
            Nom du Chapitre
          </label>
          <input formControlName="nom_chapitre"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="nomChapitre" type="text" placeholder="Nom du Chapitre">
          <button (click)="creatCapitre()"
            class="bg-[#114C5A] hover:bg-[#F9BD4F] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Envoyer
          </button>
        </div>
      </form>
    </div>
    <table class="w-full min-w-[540px]" data-tab-for="order" data-page="active">
      <thead>
        <tr>
          <th
            class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">
            Nom du chapitre</th>
          <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">
            Parcours
          </th>
          <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chap of chapitres ">
          <td class="py-2 px-4 border-b border-b-gray-50">{{chap.nom_chapitre}}</td>
          <td class="py-2 px-4 border-b border-b-gray-50">{{chap.parcour_id}}</td>
          <td>
            <a (click)="setChapitreName(chap.nom_chapitre)" routerLink="/core/formateur/contenu"
              class="bg-[#114C5A] hover:bg-[#F9BD4F] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Ouvrir</a>
          </td>
        </tr>
    </table>
  </div>
</div>


<!-- !-- Modal 1 pour ajouter un parcours-->
<div *ngIf="openModal" tabindex="-1" aria-hidden="true" id="createParcoursModal"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto">
  <div
    class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg md:max-w-3/4 lg:max-w-1/2 mx-auto overflow-y-auto max-h-[90vh]"
    *ngIf="currentStep === 1">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold"></h2>
      <button (click)="closeModals()" class="text-red-400 hover:text-gray-700">x</button>
    </div>
    <h1 class="text-center text-xl font-semibold">Informations générales</h1>

    <!-- Form for creating parcours -->
    <form>
      <div class="items-center border-b border-gray-400 py-2">
        <label for="" class="uppercase">Nom du Parcours De Formation</label>
        <input [(ngModel)]="formData.info.nom_parcour" name="nom"
          class="appearance-none bg-transparent border-none w-full text-gray-500 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text" placeholder="Nom de la formation" aria-label="Full name">
      </div>

      <!-- Responsive Layout for 'Type' and 'Audience' -->
      <div class="flex flex-wrap gap-5 mt-5">
        <!-- Type section -->
        <div class="flex gap-1">
          <label class="uppercase text-slate-600 font-semibold">Type</label>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input type="radio" [(ngModel)]="formData.info.status_type" name="type" value="Gratuit"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all"
                checked />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Gratuit</span>
            </label>
          </div>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_type" type="radio" name="type" value="Premium"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all" />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Premium</span>
            </label>
          </div>
        </div>

        <!-- Audience section -->
        <div class="flex gap-1">
          <label class="uppercase text-slate-600 font-semibold">Audience</label>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_audiance" type="radio" name="audience" value="Public"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all"
                checked />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Public</span>
            </label>
          </div>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_audiance" type="radio" name="audience" value="Privée"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all" />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Privée</span>
            </label>
          </div>
        </div>

        <!-- Other input fields like Durée and Prix -->
        <div class="items-center border-b border-gray-400 py-2 mt-5">
          <label for="" class="uppercase">Durée (jours)</label>
          <input [(ngModel)]="formData.info.duree" name="duree"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="number" placeholder="10" aria-label="Full name">
        </div>

        <div class="items-center border-b border-gray-400 py-2 mt-5">
          <label for="" class="uppercase">Prix</label>
          <input [(ngModel)]="formData.info.prix" name="prix"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="number" placeholder="10" aria-label="Full name">
        </div>
      </div>

      <!-- Section for 'Objectif' and skills -->
      <div class="items-center border-b border-gray-400 py-2 mt-5">
        <label for="" class="uppercase">Objectif de la formation</label>
        <input [(ngModel)]="formData.info.objectif" name="objectif"
          class="appearance-none bg-transparent border-none w-full text-gray-500 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text" placeholder="Renseigner l'objectif de la formation" aria-label="Objectif">
      </div>

      <!-- Compétences sélectionnées -->
      <h2 class="mt-8 text-lg font-bold">Compétences sélectionnées</h2>
      <div class="flex flex-wrap gap-4 mt-4">
        <div *ngFor="let selected of selectedSkills"
          class="card w-full sm:w-40 bg-blue-100 p-4 text-center shadow-md rounded-md relative">
          <p>{{ selected.nom }}</p>
          <button class="absolute top-1 right-1 text-red-500" (click)="removeSkill(selected)">✕</button>
        </div>
      </div>

      <div class="flex flex-wrap gap-4 mt-5">
        <div *ngFor="let skill of skills" class="card w-full sm:w-40 bg-gray-100 p-4 text-center shadow-md rounded-md">
          <p (click)="selectSkill(skill)">{{ skill.nom}}</p>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center mt-5">
        <button (click)="submitParcours();closeModal()" type="submit"
          class="px-4 py-2 bg-[#F9BD4F] text-white rounded-md">Suivant</button>
      </div>
    </form>
  </div>
</div>


<!-- Modal 2  pour ajouter des videos -->
<div class="flex gap-4 mt-4">
  <div *ngIf="displayVideo" tabindex="-1" aria-hidden="true" id="modalStep2"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Étape 2: Ajoutez un contenu</h2>
        <button class="text-red-400 hover:text-gray-700" (click)="closeModalVideo()">x</button>
      </div>
      <div class="w-[90%] mx-auto ">
        <div class="bg-[#2C7C7933] border-dashed border-2 border-gray-500 shadow-md shadow-black/5 p-6 rounded-md">
          <span class="text-[#2C7C79]" *ngIf="!selectedFiles.length">Aucun contenu</span>
          <ng-container *ngFor="let file of selectedFiles">
            <ng-container *ngIf="file.type.startsWith('video/')">
              <h3 class="font-bold">{{ file.name }}</h3> <!-- Afficher le nom du fichier -->
              <video [src]="file.url" controls class="max-w-[100px] h-auto"></video>
            </ng-container>
            <ng-container
              *ngIf="file.type.startsWith('application/pdf') || file.type.startsWith('application/msword') || file.type.startsWith('application/vnd.openxmlformats-officedocument.wordprocessingml.document')">
              <h3 class="font-bold">{{ file.name }}</h3>
              <a [href]="file.url" target="_blank" class="text-blue-500">Ouvrir le document</a>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="flex gap-4 mt-5">
        <label class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79] cursor-pointer">
          Vidéo
          <input type="file" [(ngModel)]="formData.content.videos" (change)="onFilesSelected($event, 'video')"
            accept="video/*" multiple class="hidden">
        </label>
        <!-- <label class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79] cursor-pointer">
          Document
          <input type="file" [(ngModel)]="formData.content.document" (change)="onFilesSelected($event, 'document')"
            accept=".pdf,.doc,.docx" multiple class="hidden">
        </label> -->
      </div>

      <!-- Boutons "Précédent" et "Suivant" -->
      <div class="mt-4 flex justify-between">
        <!-- <button (click)="previousStep()" class="px-4 py-2 bg-gray-500 text-white rounded-md">Précédent</button> -->
        <button (click)="submitVideo()" class="px-4 py-2 bg-[#F9BD4F] text-white rounded-md">Envoyer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal3 pour ajouter des documents -->
<div class="flex gap-4 mt-4">
  <div *ngIf="displayDocument" tabindex="-1" aria-hidden="true" id="modalStep2"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Étape 2: Ajoutez un contenu</h2>
        <button class="text-red-400 hover:text-gray-700" (click)="closeModalDocument()">x</button>
      </div>
      <div class="w-[90%] mx-auto ">
        <div class="bg-[#2C7C7933] border-dashed border-2 border-gray-500 shadow-md shadow-black/5 p-6 rounded-md">
          <span class="text-[#2C7C79]" *ngIf="!selectedFiles.length">Aucun contenu</span>
          <ng-container *ngFor="let file of selectedFiles">
            <ng-container *ngIf="file.type.startsWith('video/')">
              <h3 class="font-bold">{{ file.name }}</h3> <!-- Afficher le nom du fichier -->
              <video [src]="file.url" controls class="max-w-[100px] h-auto"></video>
            </ng-container>
            <ng-container
              *ngIf="file.type.startsWith('application/pdf') || file.type.startsWith('application/msword') || file.type.startsWith('application/vnd.openxmlformats-officedocument.wordprocessingml.document')">
              <h3 class="font-bold">{{ file.name }}</h3>
              <a [href]="file.url" target="_blank" class="text-blue-500">Ouvrir le document</a>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="flex gap-4 mt-5">
        <!-- <label class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79] cursor-pointer">
          Vidéo
          <input type="file" [(ngModel)]="formData.content.video" (change)="onFilesSelected($event, 'video')"
            accept="video/*" multiple class="hidden">
        </label> -->
        <label class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79] cursor-pointer">
          Document
          <input type="file" [(ngModel)]="formData.content.document" (change)="onFilesSelected($event, 'document')"
            accept=".pdf,.doc,.docx" multiple class="hidden">
        </label>
      </div>

      <!-- Boutons "Précédent" et "Suivant" -->
      <div class="mt-4 flex justify-between">
        <!-- <button (click)="previousStep()" class="px-4 py-2 bg-gray-500 text-white rounded-md">Précédent</button> -->
        <button (click)="submitDocuments()" class="px-4 py-2 bg-[#F9BD4F] text-white rounded-md">Envoyer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 (Step 2) -->
<!-- <div class="flex gap-4 mt-4">
    <div *ngIf="currentStep === 2" tabindex="-1" aria-hidden="true" id="modalStep2"
      class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold">Étape 2: Ajoutez un contenu</h2>
          <button class="text-red-400 hover:text-gray-700" (click)="closeModals()">x</button>
        </div>
        <div class="w-[90%] mx-auto ">
          <div class="bg-[#2C7C7933] border-dashed border-2 border-gray-500 shadow-md shadow-black/5 p-6 rounded-md">
            <span class="text-[#2C7C79]">Aucun contenu</span>
          </div>
        </div>

        <div class="flex gap-4 mt-5">
          <button class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79]">Vidéo</button>
          <button class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79]">Image</button>
          <button class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79]">Document</button>
          <button class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79]">Article</button>
          <button class="bg-[#2C7C7933] #2C7C79 py-2 px-4 rounded hover:bg-[#F9BD4F] text-[#2C7C79]">Lien Interne</button>
        </div>


        <div class="mt-4 flex justify-between">
          <button (click)="previousStep()" class="px-4 py-2 bg-gray-500 text-white rounded-md">Précédent</button>
          <button (click)="nextStep()" class="px-4 py-2 bg-[#F9BD4F] text-white rounded-md">Suivant</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- Modal Étape 3 -->
<div *ngIf="currentStep === 3" tabindex="-1" aria-hidden="true" id="modalStep3"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Étape 3: Confirmation</h2>
      <button class="text-red-400 hover:text-gray-700" (click)="closeModals()">x</button>
    </div>
    <!-- Contenu de confirmation -->
    <p class="mb-4">Merci d'avoir rempli les étapes. Confirmez vos choix.</p>


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Ordre
            </th>
            <th scope="col" class="px-6 py-3">
              Libelle
            </th>
            <th scope="col" class="px-6 py-3">
              Formateur
            </th>
            <th scope="col" class="px-6 py-3">
              Retirer de mon parcour
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let selected of selectedSkills; let i = index">
          <tr>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{i+1}}
            </th>
            <td class="px-6 py-4">
              Formation Leadership
            </td>
            <td class="px-6 py-4">
              Roland Kyedrebeogo
            </td>
            <td class="px-6 py-4 rounded-cell">
              {{selected.nom}}
              <!-- Bouton pour retirer l'élément -->
              <button (click)="removeSkillTab(i)" class="text-red-500 hover:text-red-700">
                ✕
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Boutons "Précédent" et "Fermer" -->
    <div class="mt-4 flex justify-between">
      <button (click)="previousStep()" class="px-4 py-2 bg-gray-500 text-white rounded-md">Précédent</button>
      <button (click)="closeModals()" class="px-4 py-2 bg-[#114C5A] text-white rounded-md">Terminer</button>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <!-- <app-loarder></app-loarder> -->
</div>


<!-- <div tabindex="-1" aria-hidden="true" id="createParcoursModal"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-[80%] h-full ml-5">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold"></h2>
      <button (click)="closeModals()" class="text-red-400 hover:text-gray-700">x</button>
    </div>
    <h1 class="text-center text-xl font-semibold">Informations générales</h1>

    <form>
      <div class="flex justify-between gap-5 ">

        <div class="max-w-xs mx-auto bg-white rounded-lg shadow-md overflow-hidden">
          <label for="upload-photo" class="cursor-pointer block">
            <img src="assets/images/user1.jpg" alt="Image de la carte" class="w-full h-48 object-cover" id="card-image">
          </label>
          <input type="file" id="upload-photo" accept="image/*" class="hidden">
        </div>
      </div>
      <div class="flex gap-7 mt-5">
        <div class="items-center border-b border-gray-400">
          <label for="" class="uppercase">Description</label>
          <input [(ngModel)]="formData.info.nom_parcour" name="description"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="text" placeholder="Nom de la formation" aria-label="Description">
        </div>
        <div class="items-center border-b border-gray-400">
          <label for="" class="uppercase">Nom du Parcours De Formation</label>
          <input [(ngModel)]="formData.info.nom_parcour" name="nom"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="text" placeholder="Nom de la formation" aria-label="Nom">
        </div>
      </div>



      <div class="flex flex-wrap gap-5 mt-5">

        <div class="flex gap-1">
          <label class="uppercase text-slate-600 font-semibold">Type</label>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input type="radio" [(ngModel)]="formData.info.status_type" name="type" value="Gratuit"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all"
                checked />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Gratuit</span>
            </label>
          </div>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_type" type="radio" name="type" value="Premium"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all" />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Premium</span>
            </label>
          </div>
        </div>

        <div class="flex gap-1">
          <label class="uppercase text-slate-600 font-semibold">Audience</label>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_audiance" type="radio" name="audience" value="Public"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all"
                checked />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Public</span>
            </label>
          </div>
          <div class="inline-flex items-center">
            <label class="relative flex items-center cursor-pointer">
              <input [(ngModel)]="formData.info.status_audiance" type="radio" name="audience" value="Privée"
                class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-800 transition-all" />
              <span class="ml-2 text-slate-600 text-sm cursor-pointer">Privée</span>
            </label>
          </div>
        </div>


        <div class="items-center border-b border-gray-400 py-2 mt-5">
          <label for="" class="uppercase">Durée (jours)</label>
          <input [(ngModel)]="formData.info.duree" name="duree"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="number" placeholder="10" aria-label="Full name">
        </div>

        <div class="items-center border-b border-gray-400 py-2 mt-5">
          <label for="" class="uppercase">Prix</label>
          <input [(ngModel)]="formData.info.prix" name="prix"
            class="appearance-none bg-transparent border-none w-full text-gray-500 leading-tight focus:outline-none"
            type="number" placeholder="10" aria-label="Full name">
        </div>
      </div>


      <div class="items-center border-b border-gray-400 py-2 mt-5">
        <label for="" class="uppercase">Objectif de la formation</label>
        <input [(ngModel)]="formData.info.objectif" name="objectif"
          class="appearance-none bg-transparent border-none w-full text-gray-500 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text" placeholder="Renseigner l'objectif de la formation" aria-label="Objectif">
      </div>


      <h2 class="mt-8 text-lg font-bold">Compétences sélectionnées</h2>
      <div class="flex flex-wrap gap-4 mt-4">
        <div *ngFor="let selected of selectedSkills"
          class="card w-full sm:w-40 bg-blue-100 p-4 text-center shadow-md rounded-md relative">
          <p>{{ selected.nom }}</p>
          <button class="absolute top-1 right-1 text-red-500" (click)="removeSkill(selected)">✕</button>
        </div>
      </div>

      <div class="flex flex-wrap gap-4 mt-5">
        <div *ngFor="let skill of skills" class="card w-full sm:w-40 bg-gray-100 p-4 text-center shadow-md rounded-md">
          <p (click)="selectSkill(skill)">{{ skill.nom}}</p>
        </div>
      </div>


      <div class="flex justify-center mt-5">
        <button (click)="submitParcours();closeModal()" type="submit"
          class="px-4 py-2 bg-[#F9BD4F] text-white rounded-md">Suivant</button>
      </div>
    </form>
  </div>
</div> -->
