<!-- start: Main -->
<div class="mt-0 ml-5">
  <div class="bg-gray-200 p-4 rounded-md m-5">
    <span class="text-[#EF7743]">Description</span>
    <p class="text-[#EF7743]">À terminer avant 10H00m.2024</p>
    <button (click)="startTest()" class="bg-[#114C5A] hover:bg-[#EF7743] text-white font-bold py-2 px-4 rounded">
      Démarrer le test
    </button>
  </div>
  <!-- Afficher les couleurs et leurs caracteristiques -->
  <div *ngIf="displayColorCharacteristics" class="flex flex-col items-center">
    <span class="uppercase text-2xl font-bold mb-6 text-center">Bravo, la couleur qui vous caractérise c'est le {{dominantColor}}</span>

    <div class="flex flex-col md:flex-row justify-center gap-10">
      <div *ngIf="dominantColor === 'blue'" class="flex flex-col items-center">
        <div class="text-white w-96 text-center h-10 uppercase bg-[#0000FF]">Bleu</div>
        <p class="mt-2 text-center">. Rechercher des frais et des explications logiques</p>
        <p class="mt-2 text-center">. Actions et prise de décision prudentes</p>
        <p class="mt-2 text-center">. Aime l'organisation et les structures</p>
        <p class="mt-2 text-center">. N'aime pas être brusqué</p>
        <p class="mt-2 text-center">. S'intéresse aux détails</p>
        <p class="mt-2 text-center">. Objectif, analytique et orienté vers les tâches</p>
        <p class="mt-2 text-center">. Travaille seul et avec précision</p>
        <p class="mt-2 text-center">. Froid et distant; peu ouvert aux sentiments</p>
      </div>

      <div *ngIf="dominantColor === 'red'" class="flex flex-col items-center">
        <div class="text-white w-96 text-center h-10 uppercase bg-[#FF0000]">Rouge</div>
        <p class="mt-2 text-center">. Rapide; décidé; énergique</p>
        <p class="mt-2 text-center">. Directe et pragmatique</p>
        <p class="mt-2 text-center">. Sense des résultats</p>
        <p class="mt-2 text-center">. Aime la compétition</p>
        <p class="mt-2 text-center">. Recherche le maximum d'indépendance</p>
        <p class="mt-2 text-center">. N'aime pas l'inaction</p>
        <p class="mt-2 text-center">. Travaille rapidement et seul</p>
        <p class="mt-2 text-center">. Aime contrôler</p>
      </div>

      <div *ngIf="dominantColor === 'green'" class="flex flex-col items-center">
        <div class="text-white w-96 text-center h-10 uppercase bg-[#008000]">Vert</div>
        <p class="mt-2 text-center">. Attentionné, stable, coopérant</p>
        <p class="mt-2 text-center">. Aime les relations personnalisées</p>
        <p class="mt-2 text-center">. N'aime pas les conflits</p>
        <p class="mt-2 text-center">. Soutient et écoute activement les autres</p>
        <p class="mt-2 text-center">. Renforce la cohésion</p>
        <p class="mt-2 text-center">. Accommodant</p>
        <p class="mt-2 text-center">. Patient</p>
        <p class="mt-2 text-center">. Lent à passer à l'acte à décider</p>
      </div>

      <div *ngIf="dominantColor === 'yellow'" class="flex flex-col items-center">
        <div class="text-white w-96 text-center h-10 uppercase bg-[#FFFF00]">Jaune</div>
        <p class="mt-2 text-center">. Optimisme, enthousiasme, communicant</p>
        <p class="mt-2 text-center">. Actions et décisions spontanées</p>
        <p class="mt-2 text-center">. Aime travailler en groupe</p>
        <p class="mt-2 text-center">. Créatif, tendance à rêver</p>
        <p class="mt-2 text-center">. Spontané, sens de l'improvisation</p>
        <p class="mt-2 text-center">. Talents de percussion</p>
        <p class="mt-2 text-center">. Impulsif</p>
        <p class="mt-2 text-center">. Saute d'une activité à l'autre</p>
      </div>
    </div>

    <div class="relative w-64 h-64 mt-10">
      <div class="color-circle w-full h-full rounded-full" [ngStyle]="getCircleStyle()"></div>

      <div class="absolute -top-1 left-[95%] translate-x-[-50%] flex flex-col items-center -mt-12">
        <img src="assets/images/1.jpg" alt="Taureau" class="animal-icon w-12 h-12" />
        <span>Taureau</span>
      </div>

      <div class="absolute top-[80%] -right-20 translate-y-[-50%] flex flex-col items-center">
        <img src="assets/images/33.avif" alt="Singe" class="animal-icon w-12 h-12" />
        <span>Singe</span>
      </div>

      <div class="absolute bottom-0 -left-[10%] translate-x-[-50%] flex flex-col items-center mt-12">
        <img src="assets/images/tortue.png" alt="Tortue" class="animal-icon w-12 h-12" />
        <span>Tortue</span>
      </div>

      <div class="absolute -top-1 left-0 translate-y-[-50%] flex flex-col items-center -ml-12">
        <img src="assets/images/12.jpg" alt="Aigle" class="animal-icon w-12 h-12" />
        <span>Aigle</span>
      </div>
    </div>

    <div class="flex gap-10 justify-center mt-6">
      <a routerLink="/core/apprenant/caracterise" class="bg-[#114C5A] text-white px-4 py-2 rounded-md mt-4">Caractérise</a>
      <a routerLink="/core/apprenant/comminuque" class="bg-[#114C5A] text-white px-4 py-2 rounded-md mt-4">Communique</a>
    </div>
  </div>

  <!-- après avoir cliqué sur le bouton "Démarrer le test" -->
  <div class="flex justify-center">
    <!-- Le contenu à centrer -->
    <div *ngIf="testStarted" class="border border-gray-400 w-full sm:w-11/12 md:w-10/12 lg:w-8/12 rounded-md shadow-l">
      <!-- Indicateur de progression avec numéros -->


      <!-- Section Question -->
      <div *ngIf="currentQuestionIndex < questions.length" class="p-4 sm:p-8 md:p-12 lg:p-20">
        <h2 class="text-[#114C5A]">{{ currentQuestionIndex + 1 }}.{{ questions[currentQuestionIndex].text }}</h2>

        <!-- Liste des réponses -->
        <div *ngFor="let answer of remainingAnswers; let i = index" class="mt-5">
          <p class="text-[#EF7743]">{{ answer.text }}</p>
          <div>
            <label *ngIf="remainingPoints.includes(6)">
              <input type="radio" name="points" [value]="6" (change)="submitAnswer(6, answer); answerSelected = true"> Ce
              qui me correspond le plus
            </label>
            <label *ngIf="remainingPoints.includes(3)">
              <input type="radio" name="points" [value]="3" (change)="submitAnswer(3, answer); answerSelected = true"> Ce
              qui me correspond assez
            </label>
            <label *ngIf="remainingPoints.includes(1)">
              <input type="radio" name="points" [value]="1" (change)="submitAnswer(1, answer); answerSelected = true"> Ce
              qui me correspond peu
            </label>
            <label *ngIf="remainingPoints.includes(0)">
              <input type="radio" name="points" [value]="0" (change)="submitAnswer(0, answer); answerSelected = true"> Ce
              qui ne me correspond pas du tout
            </label>
          </div>
        </div>

        <!-- Boutons pour naviguer entre les questions -->
        <div class="mt-4">
          <button *ngIf="currentQuestionIndex > 0" (click)="previousQuestion()"
            class="bg-[#EF7743] text-white px-4 py-2 rounded-md mr-2">
            Précédent
          </button>
          <button *ngIf="currentQuestionIndex < questions.length - 1" (click)="nextQuestion(); answerSelected = false"
            class="bg-[#114C5A] text-white px-4 py-2 rounded-md" [disabled]="!answerSelected">
            Suivant
          </button>
        </div>
      </div>

      <!-- Si toutes les questions sont terminées, afficher le bouton Envoyer -->
      <div *ngIf="currentQuestionIndex == questions.length" class="p-4 sm:p-8 md:p-12 lg:p-20">
        <button (click)="sendResults(); closeTest()" class="bg-[#114C5A] text-white px-4 py-2 rounded-md mt-4">
          Voir ces résultats
        </button>
      </div>
    </div>
  </div>





  <!-- Apres avoir fait le test on affiche le couleur ce qui conrrond le plus avec le cercle de ces couleurs-->

  <!-- Modal pour afficher les résultats -->
  <!-- <div *ngIf="showResultsModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
      <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-xl font-bold mb-4">Résultats du test</h2>
        <p class="text-red-500">Rouge: {{ scores['red'] }} points</p>
        <p class="text-yellow-500">Jaune: {{ scores['yellow'] }} points</p>
        <p class="text-green-500">Vert: {{ scores['green'] }} points</p>
        <p class="text-blue-500">Bleu: {{ scores['blue'] }} points</p> -->
  <!-- Affichage du texte avec la couleur du score le plus élevé -->
  <!-- <p [ngStyle]="{'color': getHighestScoreColor()}">
          Couleur avec le plus de points : {{ getHighestScoreColor() | titlecase }}
        </p>
        <p class="font-bold">Somme totale des points est : {{ calculateTotalColorScore() }} points</p> -->
  <!-- Bouton pour fermer la modal -->
  <!-- <button (click)="closeModal(); sendResults()" class="bg-[#114C5A] text-white px-4 py-2 rounded-md mt-4">Fermer</button>
      </div>
    </div> -->
</div>
<!-- modal pour bien communiquer avec.... -->
<!-- <div>
  <div *ngIf="open" class="fixed inset-0 z-60 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg max-w-full sm:max-w-7xl w-full">
      <div class="flex justify-between items-center mb-4">
        <span class="uppercase text-2xl font-bold">Pour bien communiquer avec...</span>
        <button class="text-red-400 hover:text-gray-700" (click)="closeModal()">x</button>
      </div>
      <div class="flex flex-col md:flex-row gap-10">
        <div class="flex flex-col gap-6 w-full">
          <div class="flex flex-col items-center w-full md:w-1/2">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#0000FF]">Bleu</div>
            <p class="mt-2 text-center">. Soyez précis, factuel, structuré</p>
            <p class="mt-2 text-center">. Préparez vos entretiens</p>
            <p class="mt-2 text-center">. Soutenez une approche réaliste et mesurée</p>
            <p class="mt-2 text-center">. Prenez le temps d'aller dans les détails</p>
            <p class="mt-2 text-center">. Ne le brusquez pas</p>
            <p class="mt-2 text-center">. Ne cherchez pas à réchauffer l'ambiance</p>
            <p class="mt-2 text-center">. Restez distant, ne le touchez pas</p>
            <p class="mt-2 text-center">. Soyez prêt qu'il contienne les faits</p>
          </div>
          <div class="flex flex-col items-center w-full md:w-1/2">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FF0000]">Rouge</div>
            <p class="mt-2 text-center">. Soyez concis et affirmé</p>
            <p class="mt-2 text-center">. Allez droit au but</p>
            <p class="mt-2 text-center">. Les questionnaires sur leurs objectifs</p>
            <p class="mt-2 text-center">. Amenez-les à être moteurs et décider</p>
            <p class="mt-2 text-center">. Valorisez leur sens au défi et de la réactivité</p>
            <p class="mt-2 text-center">. Évitez trop factuel</p>
            <p class="mt-2 text-center">. Restez factuel</p>
            <p class="mt-2 text-center">. Préparez-vous à défendre vos arguments</p>
          </div>
        </div>

        <div class="flex flex-col gap-6 w-full">
          <div class="flex flex-col items-center w-full md:w-1/2">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#008000]">Vert</div>
            <p class="mt-2 text-center">. Soyez empathique, relationnel et animal</p>
            <p class="mt-2 text-center">. Créez des relations partenaires et solides</p>
            <p class="mt-2 text-center">. Donnez-vous du temps pour construire la confiance</p>
            <p class="mt-2 text-center">. Accompagnez et aidez-les à décider</p>
            <p class="mt-2 text-center">. Respectez leurs idées</p>
            <p class="mt-2 text-center">. N'ayez pas peur de leurs moments de silence</p>
            <p class="mt-2 text-center">. Ne critiquez pas de tierces personnes</p>
            <p class="mt-2 text-center">. Soyez patients</p>
          </div>
          <div class="flex flex-col items-center w-full md:w-1/2">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FFFF00]">Jaune</div>
            <p class="mt-2 text-center">. Montrez-vous relationnel</p>
            <p class="mt-2 text-center">. Soyez créatif et informel</p>
            <p class="mt-2 text-center">. Partagez leur plaisir et laissez-les s'exprimer</p>
            <p class="mt-2 text-center">. Rêvez avec eux</p>
            <p class="mt-2 text-center">. Aidez-les à canaliser leur énergie</p>
            <p class="mt-2 text-center">. Restez dynamique et engageant</p>
            <p class="mt-2 text-center">. Valorisez leur sens de créativité</p>
            <p class="mt-2 text-center">. Soyez prêt à dévier du sujet</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- Modal pour ce qui me caraterise... -->
<!-- <div>
  <div *ngIf="displayCom" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg max-w-full sm:max-w-7xl w-full">
      <div class="flex justify-between items-center mb-4">
        <span class="uppercase text-2xl font-bold">Ce qui me caractérise...</span>
        <button class="text-red-400 hover:text-gray-700" (click)="closeCom()">x</button>
      </div>
      <div class="flex flex-col md:flex-row gap-10">
        <div class="flex flex-col gap-6 w-full md:w-1/2">
          <div class="flex flex-col items-center">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#0000FF]">Bleu</div>
            <p class="mt-2 text-center">. Rechercher des frais et des explications logiques</p>
            <p class="mt-2 text-center">. Actions et prise de décision prudentes</p>
            <p class="mt-2 text-center">. Aime l'organisation et les structures</p>
            <p class="mt-2 text-center">. N'aime pas être brusqué</p>
            <p class="mt-2 text-center">. S'intéresse aux détails</p>
            <p class="mt-2 text-center">. Objectif, analytique et orienté vers les tâches</p>
            <p class="mt-2 text-center">. Travail seul et avec précision</p>
            <p class="mt-2 text-center">. Froid et distant; peu ouvert aux sentiments</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FF0000]">Rouge</div>
            <p class="mt-2 text-center">. Rapide; décidé; énergique</p>
            <p class="mt-2 text-center">. Directe et pragmatique</p>
            <p class="mt-2 text-center">. Sens du résultat</p>
            <p class="mt-2 text-center">. Aime la compétition</p>
            <p class="mt-2 text-center">. Recherche le maximum d'indépendance</p>
            <p class="mt-2 text-center">. N'aime pas l'inaction</p>
            <p class="mt-2 text-center">. Travaille rapidement et seul</p>
            <p class="mt-2 text-center">. Aime contrôler</p>
          </div>
        </div>

        <div class="flex flex-col gap-6 w-full md:w-1/2">
          <div class="flex flex-col items-center">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#008000]">Vert</div>
            <p class="mt-2 text-center">. Attentionné, stable, coopérant</p>
            <p class="mt-2 text-center">. Aime les relations personnalisées</p>
            <p class="mt-2 text-center">. N'aime pas les conflits</p>
            <p class="mt-2 text-center">. Soutient et écoute activement les autres</p>
            <p class="mt-2 text-center">. Renforce la cohésion</p>
            <p class="mt-2 text-center">. Accommodant</p>
            <p class="mt-2 text-center">. Patient</p>
            <p class="mt-2 text-center">. Lent à passer à l'acte à décider</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FFFF00]">Jaune</div>
            <p class="mt-2 text-center">. Optimisme, enthousiasme, communicant</p>
            <p class="mt-2 text-center">. Actions et décisions spontanées</p>
            <p class="mt-2 text-center">. Aime travailler en groupe</p>
            <p class="mt-2 text-center">. Créatif, tendance à rêver</p>
            <p class="mt-2 text-center">. Spontané, sens de l'improvisation</p>
            <p class="mt-2 text-center">. Talents de percussion</p>
            <p class="mt-2 text-center">. Impulsif</p>
            <p class="mt-2 text-center">. Saute d'une activité à l'autre</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


