<div class="flex flex-col items-center py-8 px-4 bg-gradient-to-r from-blue-100 via-white to-green-100 min-h-screen">
  <!-- Message de bienvenue -->
  <div class="bg-white border border-gray-300 rounded-lg shadow-lg p-6 max-w-2xl text-center">
    <h1 class="text-2xl font-bold text-[#114C5A] mb-4">
      Bonjour chère équipe CBAO,
    </h1>
    <p class="text-gray-700 text-lg mb-4">
      Bienvenue sur le test du Mini DISC Comportemental. C’est un outil simple et efficace pour mieux comprendre les comportements individuels et améliorer les interactions au sein des équipes.
    </p>
    <p class="text-gray-700 text-lg">
      Pour chaque ligne, identifiez la case qui vous :
    </p>
    <ul class="text-gray-800 text-lg my-4 space-y-2 font-medium">
      <li>✔️ Correspond le plus</li>
      <li>✔️ Correspond assez</li>
      <li>✔️ Correspond assez peu</li>
      <li>✔️ Correspond pas du tout</li>
    </ul>
    <p class="text-[#EF7743] font-bold text-xl mt-4">
      Bon test !
    </p>
    <!-- Bouton démarrer -->
    <div class="mt-6">
      <button *ngIf="!testStarted" (click)="startTest()"
        class="bg-[#114C5A] hover:bg-[#EF7743] text-white font-bold py-3 px-6 rounded-full shadow-md transition duration-300">
        Démarrer le test
      </button>
    </div>
  </div>

  <!-- Affichage des résultats -->
  <div *ngIf="displayColorCharacteristics" class="flex flex-col items-center mt-8">
    <h2 class="uppercase text-2xl font-bold text-center mb-6">
      Bravo, votre couleur dominante est le {{ getDominantColorInFrench() }}
    </h2>
    <div class="flex flex-col md:flex-row justify-center gap-6">
      <!-- Couleur dominante BLEU -->
      <div *ngIf="dominantColor === 'blue'" class="w-96 p-6 border-blue-300  text-gray-800 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold uppercase text-center bg-[#0000FF]">Bleu</h3>
        <ul class="mt-4 space-y-2">
          <li>🔹 Recherche des faits et explications logiques</li>
          <li>🔹 Actions prudentes et décisions réfléchies</li>
          <li>🔹 Organisation et structures appréciées</li>
          <li>🔹 Intérêt pour les détails</li>
          <li>🔹 Travail précis, souvent en solitaire</li>
        </ul>
      </div>

      <!-- Couleur dominante ROUGE -->
      <div *ngIf="dominantColor === 'red'" class="w-96 p-6 border-red-300 text-gray-800 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold uppercase text-center bg-[#FF0000]">Rouge</h3>
        <ul class="mt-4 space-y-2">
          <li>🔺 Rapide, énergique et décidé</li>
          <li>🔺 Aime la compétition</li>
          <li>🔺 Résultats orientés, pragmatique</li>
          <li>🔺 Recherche l'indépendance</li>
          <li>🔺 Contrôle et prise d'initiatives</li>
        </ul>
      </div>

      <!-- Couleur dominante VERT -->
      <div *ngIf="dominantColor === 'green'" class="w-96 p-6  border-green-300 text-gray-800 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold uppercase text-center bg-[#008000]">Vert</h3>
        <ul class="mt-4 space-y-2">
          <li>🔹 Attentionné, stable et coopérant</li>
          <li>🔹 Apprécie les relations personnalisées</li>
          <li>🔹 Évite les conflits</li>
          <li>🔹 Patient et accommodant</li>
          <li>🔹 Renforce la cohésion</li>
        </ul>
      </div>

      <!-- Couleur dominante JAUNE -->
      <div *ngIf="dominantColor === 'yellow'" class="w-96 p-6 border-yellow-300 text-gray-800 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold uppercase text-center bg-[#FFD700]">Jaune</h3>
        <ul class="mt-4 space-y-2">
          <li>🔸 Enthousiaste et optimiste</li>
          <li>🔸 Aime travailler en groupe</li>
          <li>🔸 Créatif et spontané</li>
          <li>🔸 Sens de l'improvisation</li>
          <li>🔸 Impulsif et communicatif</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- après avoir cliqué sur le bouton "Démarrer le test" -->
 <div class="flex justify-center">
  <!-- Le contenu à centrer -->
  <div *ngIf="testStarted"  class="border border-gray-300 rounded-lg shadow-md p-6 space-y-6">
    <!-- Section Question -->
    <div *ngIf="currentQuestionIndex < questions.length" class="p-4 sm:p-8 md:p-12 lg:p-20">
      <h2 class="text-[#114C5A]">{{ currentQuestionIndex + 1 }}.{{ questions[currentQuestionIndex].text }}</h2>

      <!-- Liste des réponses -->
      <div *ngFor="let answer of remainingAnswers; let i = index" class="mt-5">
        <p class="text-[#EF7743]">{{ answer.text }}</p>
        <div>
          <label *ngIf="remainingPoints.includes(6)">
            <input type="radio" name="points" [value]="6" (change)="submitAnswer(6, answer); answerSelected = true">
            Me correspond le plus
          </label>
          <label *ngIf="remainingPoints.includes(3)">
            <input type="radio" name="points" [value]="3" (change)="submitAnswer(3, answer); answerSelected = true">
            Me correspond assez
          </label>
          <label *ngIf="remainingPoints.includes(1)">
            <input type="radio" name="points" [value]="1" (change)="submitAnswer(1, answer); answerSelected = true">
            Me correspond peu
          </label>
          <label *ngIf="remainingPoints.includes(0)">
            <input type="radio" name="points" [value]="0" (change)="submitAnswer(0, answer); answerSelected = true">
            Ne me correspond pas du tout
          </label>
        </div>
      </div>

      <!-- Boutons pour naviguer entre les questions -->
      <div class="mt-4">
        <button *ngIf="currentQuestionIndex > 0" (click)="previousQuestion()"
          class="bg-[#EF7743] text-white px-4 py-2 rounded-md mr-2">
          Précédent
        </button>
        <!-- <button *ngIf="currentQuestionIndex < questions.length - 1" (click)="nextQuestion(); answerSelected = false"
          class="bg-[#114C5A] text-white px-4 py-2 rounded-md" [disabled]="!answerSelected">
          Suivant
        </button> -->
        <button *ngIf="currentQuestionIndex < questions.length - 1" (click)="nextQuestion()"
          class="bg-[#114C5A] text-white px-4 py-2 rounded-md" [disabled]="!answerSelected">
          Suivant
        </button>
      </div>
    </div>

    <!-- Si toutes les questions sont terminées, afficher le bouton Envoyer -->
    <div *ngIf="currentQuestionIndex == questions.length" class="p-4 sm:p-8 md:p-12 lg:p-20 flex justify-center">
      <button (click)="sendResults(); closeTest(); launchToast()"
        class="bg-[#114C5A] text-white px-4 py-2 rounded-md mt-4">
        Voir mes résultats
      </button>
    </div>
  </div>
</div>
</div>

