<div class="container mx-auto mt-8 max-w-4xl">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-800">Modifier le Profil</h2>
      <p class="text-gray-600">Mettez à jour vos informations personnelles</p>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="name" class="block text-left text-sm font-medium text-gray-700">Nom</label>
        <input id="name" type="text" formControlName="name"
          class="w-full mt-1 p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <div class="mb-4">
        <label for="email" class="block text-left text-sm font-medium text-gray-700">Email</label>
        <input id="email" type="email" formControlName="email"
          class="w-full mt-1 p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none">
      </div>

      <div class="mb-4">
        <label for="phone" class="block text-left text-sm font-medium text-gray-700">Téléphone</label>
        <input id="phone" type="tel" formControlName="phone"
          class="w-full mt-1 p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none">
      </div>
      <div class="mb-4">
        <label for="description" class="block text-left text-sm font-medium text-gray-700">Bio</label>
        <textarea id="description" type=""
          class="w-full mt-1 p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none"
          placeholder="Entrez votre téléphone">
          </textarea>
      </div>

      <div class="mb-4">
        <label for="photo" class="block text-left text-sm font-medium text-gray-700">Photo</label>
        <input id="photo" type="file" (change)="onFileChange($event)"
          class="w-full mt-1 p-3 border border-gray-300 rounded-md focus:outline-none">
      </div>

      <div class="flex justify-between items-center mt-6">
        <button (click)="confirmChangePassword()" type="button"
          class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700 focus:outline-none">
          Changer le mot de passe
        </button>
        <button type="submit" class="bg-[#114C5A] hover:bg-[#EF7743] text-white font-bold py-2 px-4 rounded">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div>



<!-- Modal pour changer le mot de passe -->
<div *ngIf="showConfirm" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/3 p-6">
    <h2 class="text-xl font-semibold mb-4 text-gray-800">Modifier le mot de passe</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <div class="mb-4">
        <label for="oldPassword" class="block text-sm font-medium text-gray-700">Ancien mot de passe</label>
        <input id="oldPassword" type="password" formControlName="oldPassword"
          class="w-full mt-1 p-3 border rounded-md focus:ring focus:ring-blue-300 focus:outline-none"
          placeholder="Entrez l'ancien mot de passe">
      </div>
      <div class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">Nouveau mot de passe</label>
        <input id="newPassword" type="password" formControlName="newPassword"
          class="w-full mt-1 p-3 border rounded-md focus:ring focus:ring-blue-300 focus:outline-none"
          placeholder="Entrez le nouveau mot de passe">
      </div>
      <!-- Message d'erreur -->
      <div *ngIf="passwordForm.hasError('passwordsSame') && passwordForm.touched" class="text-red-500">
        L'ancien et le nouveau mot de passe doivent être différents.
      </div>
      <div class="flex justify-between items-center">
        <button type="button" (click)="closePasswordModal()"
          class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700">
          Annuler
        </button>
        <button type="submit" [disabled]="passwordForm.invalid"
          class="bg-[#114C5A] hover:bg-[#EF7743] text-white font-bold py-2 px-4 rounded">
          changer
        </button>
      </div>
    </form>
  </div>
</div>
