<div class="">
  <!-- <a routerLink="/core/apprenant/form" class="flex">
    <svg class="text-[#4C4D79] px-1 py-1 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path></svg>
    Retour aux résultats
  </a> -->
  <div class="flex justify-center text-xl">Caractéristique des autres couleurs</div>
  <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg max-w-full sm:max-w-7xl w-full">
    <div class="flex flex-col md:flex-row gap-10">
      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#0000FF]">Bleu</div>
          <p class="mt-2 text-center">. Rechercher des frais et des explications logiques</p>
          <p class="mt-2 text-center">. Actions et prise de décision prudentes</p>
          <p class="mt-2 text-center">. Aime l'organisation et les structures</p>
          <p class="mt-2 text-center">. N'aime pas être brusqué</p>
          <p class="mt-2 text-center">. S'intéresse aux détails</p>
          <p class="mt-2 text-center">. Objectif, analytique et orienté vers les tâches</p>
          <p class="mt-2 text-center">. Travail seul et avec précision</p>
          <p class="mt-2 text-center">. Froid et distant; peu ouvert aux sentiments</p>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FF0000]">Rouge</div>
          <p class="mt-2 text-center">. Rapide; décidé; énergique</p>
          <p class="mt-2 text-center">. Directe et pragmatique</p>
          <p class="mt-2 text-center">. Sens du résultat</p>
          <p class="mt-2 text-center">. Aime la compétition</p>
          <p class="mt-2 text-center">. Recherche le maximum d'indépendance</p>
          <p class="mt-2 text-center">. N'aime pas l'inaction</p>
          <p class="mt-2 text-center">. Travaille rapidement et seul</p>
          <p class="mt-2 text-center">. Aime contrôler</p>
        </div>
      </div>

      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#008000]">Vert</div>
          <p class="mt-2 text-center">. Attentionné, stable, coopérant</p>
          <p class="mt-2 text-center">. Aime les relations personnalisées</p>
          <p class="mt-2 text-center">. N'aime pas les conflits</p>
          <p class="mt-2 text-center">. Soutient et écoute activement les autres</p>
          <p class="mt-2 text-center">. Renforce la cohésion</p>
          <p class="mt-2 text-center">. Accommodant</p>
          <p class="mt-2 text-center">. Patient</p>
          <p class="mt-2 text-center">. Lent à passer à l'acte à décider</p>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-white w-full max-w-xs text-center h-10 uppercase bg-[#FFFF00]">Jaune</div>
          <p class="mt-2 text-center">. Optimisme, enthousiasme, communicant</p>
          <p class="mt-2 text-center">. Actions et décisions spontanées</p>
          <p class="mt-2 text-center">. Aime travailler en groupe</p>
          <p class="mt-2 text-center">. Créatif, tendance à rêver</p>
          <p class="mt-2 text-center">. Spontané, sens de l'improvisation</p>
          <p class="mt-2 text-center">. Talents de percussion</p>
          <p class="mt-2 text-center">. Impulsif</p>
          <p class="mt-2 text-center">. Saute d'une activité à l'autre</p>
        </div>
      </div>
    </div>
  </div>
</div>
